<div class="well">

  <p><strong>Filtrar:</strong></p>

  <div class="form-group">
    <select class="form-control" ng-change="filter(filterSearch)" ng-model="filterSearch">
      <option value="Sonido">Sonido</option>
      <option value="Video">Video</option>
      <option value="Luces">Luces</option>
      <option value="Electricidad">Electricidad</option>
      <option value="Informática">Informática</option>
      <option value="Estructuras">Estructuras</option>
      <option value="Seguridad">Seguridad</option>
    </select>
  </div>

  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-search" id="addon"></span>
    <input ng-model="searchTerm" ng-keyup="search(searchTerm)" type="text" class="form-control" placeholder="Buscar" aria-describedby="addon">
  </div>
</div>
