<navbar></navbar>
<div class="container">
  <p>Añadir nuevo equipo <i ng-click="openAddEquip()" class=" u-margin u-middle glyphicon glyphicon-plus-sign"></i></p>

  <div class="form-inline">
   <equip-filter></equip-filter>
  </div>

  <br />

  <div clas="table-responsive">
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Opciones</th>
      </tr>

      <tr ng-repeat="equipament in equipaments">
        <td>{{equipament.name}}</td>
        <td class="u-middle">{{equipament.brand}}</td>
        <td class="u-middle">{{equipament.model}}</td>

        <td class="u-middle">
          <span id="{{'view_' + $index}}" ng-click="openViewEquip($event, equipaments)" class="glyphicon glyphicon-eye-open"></span>
          <span id="{{'edit_' + $index}}" ng-click="openUpdateEquip($event, equipaments)" class="u-margin glyphicon glyphicon-pencil"></span>
          <span id="{{'rm_' + $index}}" ng-click="openRemoveEquip($event, equipaments)" class="u-margin glyphicon glyphicon-trash"></span>
        </td>
      </tr>
    </table>
  </div>

</div>
