<navbar></navbar>
<div class="container">
  <p>Añadir nuevo equipo <i ng-click="openAddEquip()" class=" u-margin u-middle glyphicon glyphicon-plus-sign"></i></p>

  <p><strong>Filtrar:</strong></p>
  <form class="form-inline">
    <div class="form-group">
      <select class="form-control" ng-change="filter()" ng-model="filterSearch">
        <option value="Sonido">Sonido</option>
        <option value="Video">Video</option>
        <option value="Luces">Luces</option>
        <option value="Electricidad">Electricidad</option>
        <option value="Informática">Informática</option>
        <option value="Estructuras">Estructuras</option>
        <option value="Seguridad">Seguridad</option>
      </select>
    </div>

    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-search" id="addon"></span>
      <input ng-model="searchTerm" ng-keyup="search()" type="text" class="form-control" placeholder="Buscar" aria-describedby="addon">
    </div>
  </form>

  <br />

  <div clas="table-responsive">
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Opciones</th>
      </tr>

      <tr ng-repeat="equipament in equipaments">
        <td>{{equipament.name}}</td>
        <td class="u-middle">{{equipament.brand}}</td>
        <td class="u-middle">{{equipament.model}}</td>

        <td class="u-middle">
          <span id="{{'view_' + $index}}" ng-click="openViewEquip($event)" class="glyphicon glyphicon-eye-open"></span>
          <span id="{{'edit_' + $index}}" ng-click="openUpdateEquip($event)" class="u-margin glyphicon glyphicon-pencil"></span>
          <span id="{{'rm_' + $index}}" ng-click="openRemoveEquip($event)" class="u-margin glyphicon glyphicon-trash"></span>
        </td>
      </tr>
    </table>
  </div>

</div>
