<div ng-controller="ModalDemoCtrl">
  <p>Añadir nuevo usuario <i ng-click="open('lg')" class="u-center glyphicon glyphicon-plus-sign"></i></p>
</div>
<div clas="table-responsive">
  <table class="table">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Rol</th>
      <th><i class="glyphicon glyphicon-cog"></i></th>
    </tr>

    <tr ng-repeat="tecnico in tecnicos">
      <td>{{tecnico.userId}}</td>
      <td>{{tecnico.firstName}}</td>
      <td>{{tecnico.lastName}}</td>
      <td>{{tecnico.userRole}}</td>
      <td>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-trash"></span>
      </td>
    </tr>

  </table>
</div>

